button {
  padding: 1em;
  margin: 0.2em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  border: none;
}

button:hover {
  background-color: cornflowerblue;
  transition: 2s;
  color: ghostwhite;
}
p {
  margin: 0;
  padding: 0 0 0.5em;
  text-align: justify;
}

.caption {
  position: relative;
  overflow: hidden;

  /* Only the -webkit- prefix is required these days */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.caption::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 60px;
  bottom: 4px;
  left: 57px;
  background: transparent;
  transition: background 0.35s ease-out;
}

.caption:hover::before {
  background: rgba(0, 0, 0, 0.5);
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

/*
 * Caption component
 */
.caption__overlay__title {
  margin: 0;
  padding: 0 0 0.8em;
  text-align: left;
}
.caption__overlay {
  position: absolute;
  top: 0;
  right: 65px;
  bottom: 0;
  left: 65px;
  padding: 10px;
  color: white;

  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}

.caption:hover .caption__overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.caption__overlay__title {
  -webkit-transform: translateY(-webkit-calc(-100% - 10px));
  transform: translateY(calc(-100% - 10px));

  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}

.caption:hover .caption__overlay__title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
